{% extends 'base.html' %}

{% block content %}

<section class="text-dark text-center shadow">
    <div class="container p-5 ">
        <div class="row">
            <div class="d-md-flex align-items-center justify-content-evenly">
                <h1 class="col text-center"><br></h1>
            </div>
        </div>
    </div>
</section> 
<section class=" text-center align-items-center vh-100 w-100">
    <div class="index-border align-items-center container p-5 h-75 w-15">
        <div class="container-row">
            <div class="container-child d-flex align-items-center justify-content-center">
                <h2 class="animate-text">
                     Books for All!
                </h2>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}