{% extends 'base.html' %}

{% block content %}
<section class="bg-info text-dark text-center shadow">
    <div class="container p-5 bg-info">
        <div class="row">
            <div class="d-md-flex bg-info align-items-center justify-content-evenly">
                <h1 class="col text-center"><br>Car Collection Inventory</h1>
            </div>
        </div>
    </div>
</section>
<section class="bg-light text-center">
    <div class="container p-5">
        <div class="row">
            <div>
                <h2>
                     Books for All!
                </h2>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <img src="app/static/videos/search-5393-2.mp4" class="img-fluid p-5" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock %}